@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');
.header-all{
    margin-bottom: -20px;
}
.header{
    background-image: url("../../../src/Assets/images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.red-head{
    color: red;
}
.head-text{
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    box-shadow: 1px 1px 15px black;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 5rem 5rem;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    padding: 3rem;
    .heading{
        margin-top: 30px;
        font-weight: 700;
        letter-spacing: 5px;
        margin-bottom: 40px;
    }   
    .parah-header{
        font-family: 'Raleway', sans-serif;
        text-align: center;
        letter-spacing: 2px;
    } 
}

.head-image img{
    height: 400px;
    width: 250px;
    margin: 3rem 0;
    margin-right: 4rem;
}
@media only screen and (max-width:768px) {
    .header{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .head-text{
        padding: 3rem;
        text-align: justify;
    }
    .head-image{
        text-align: center;
        margin-left: 60px;
    }
}
@media only screen and (max-width:501px){
    .head-text{
        margin: auto;
        width: 300px;
        margin-bottom: 50px;
    }
}

