@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');
.foot-up{
    padding: 25px 0;
    background-image: url('../../../src/Assets/images/footer.jpg');
    background-size: contain;
    color: wheat;
    text-align: center;
    display: flex;
    align-items: center;
    .head{
        font-family: 'Raleway', sans-serif;
        letter-spacing: 3px;
        color: rgb(255, 0, 0);
        font-weight: 800;
    }
    .foot-para{
        margin: auto;
        width: 40vw;
        font-size: 13px;
        font-family: 'Raleway', sans-serif;
        color: black;
        font-weight: 600;
    }
}
.footer-up{
    padding-top: 25px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.253);
    backdrop-filter: blur(2px);
    box-shadow: 1px 1px 15px rgb(31, 29, 29);
    border-radius: 5px;
    height: 300px;
    width: 800px;
    color: black;
}
.stop-footer{
    color: rgb(0, 0, 0);
}
.foot-down{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: black;
    color: whitesmoke;
    font-size: 13px;
    padding: 0 10px;
}
.footer-logos{
    display: flex;
    justify-content: center;
}
.footer-logo{
    height: 35px;
    width: 35px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 20px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}
.footer-logo:hover{
    background-color: white;
    color: red;
}
@media(max-width:1003px){
    .footer-up{
        margin: auto;
        height: 320px;
        width: 800px;
    }
}
@media(max-width:741px){
    .footer-up{
        margin: auto;
        height: 350px;
        width: 800px;
    }
}
@media(max-width:532px){
    .footer-up{
        margin: auto;
        height: 370px;
        width: 800px;
    }
}
@media(max-width:501px){
    .footer-up{
        margin: auto;
        height: 350px;
        width: 800px;
    }
}
a{
    text-decoration: none;
    color: red;
}