@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');
.login{
    margin-top: 40%;
    width: 400px;
    height: 550px;
    display: flex;
    border-radius:20px 15px 15px 20px;
}
.login1{
    background-color: rgba(217, 217, 217, 1);
    width: 100px;
    border-radius: 15px 0 0 15px;
}
.login2{
    background-color:rgba(33, 13, 58, 1);
    text-align: center;
    padding: 55px 0;
}
.img{
    height: 200px;
    width: 200px;
}

.e-mail{
    background-color:rgba(97, 51, 154, 1);
    border-radius: 5px;
    width: 220px;
    color: rgba(255, 255, 255, 0.42);
    height: 30px;
    border-style: none;
    font-size: 13px;
    outline-style: solid;
    outline-color: rgba(255, 255, 255, 0.42);
}
.passwordd{
    margin-top: 20px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.42);
    background-color:rgba(97, 51, 154, 1);
    border-radius: 5px;
    width: 220px;
    border-style: none;
    height: 30px;
    outline-style: solid;
    outline-color: rgba(255, 255, 255, 0.42);
}
.btnn{
    margin-top: 20px;
    width: 190px;
    background-color:rgba(221, 81, 199, 1);
    border-style: none;
    border-radius: 5px;
    color: white;
    height: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
}
.btnn:hover{
    background-color: white;
    color: rgba(33, 13, 58, 1);
}
.parahh{
    color: white;
    font-size: 13px;
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
    
}