.login{
    box-sizing: border-box;
    justify-items: center;
    background-color:rgba(33, 13, 58, 1);
    margin-left: 10%;
    margin-top: 40%;
    width: 400px;
    height: 550px;
    display: flex;
    border-radius:20px 15px 15px 20px;
}
.login1{
    background-color: rgba(217, 217, 217, 1);
    width: 100px;
    border-radius: 15px 0 0 15px;
}
.login-image{
    width: 100%;
}
img{
    margin-top: 10px;
    margin-left: 20px;
    height: 200px;
    width: 200px;
}
.login2{
    margin-top: 40px;
    margin-left: 50px;
}
.text{
    margin-top: 50px;
    margin-left: 30px;
}
.email{
    background-color:rgba(97, 51, 154, 1);
    border-radius: 5px;
    width: 200px;
    color: rgba(255, 255, 255, 0.42);
    height: 28px;
    border-style: none;
    font-size: 13px;
    outline-style: solid;
    outline-color: rgba(255, 255, 255, 0.42);
}
.password{
    margin-top: 20px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.42);
    background-color:rgba(97, 51, 154, 1);
    border-radius: 5px;
    width: 200px;
    border-style: none;
    height: 28px;
    outline-style: solid;
    outline-color: rgba(255, 255, 255, 0.42);
}
.log{
     margin-top: 20px;
     margin-left: 5px;
}
.btn{
    margin-top: 20px;
    margin-left: 10px;
    width: 190px;
    background-color:rgba(221, 81, 199, 1);
    border-style: none;
    border-radius: 5px;
    color: white;
    height: 30px;
}
.parah{
    color: white;
    font-size: 10px;
    margin-top: 10px;
    
}