.safe-back{
    height: 100vh;
    width: 100%;
    background-image: url('../../../src/Assets/images/safe.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.safe-box{
    padding-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        height: 500px;
        width: 500px;
    }
}