@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');
.how{
    height: 600px;
    background-color: greenyellow;
}
h1{
    font-family: 'Raleway', sans-serif;
}
.video{
    margin: auto;
    height: 500px;
    width: 800px;
    background-color: darkblue;
}